
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body{margin: 0;
    font-family: "Oswald", sans-serif;
}

header{
    background-color: #ec7b1f;
    color:#1d0505;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

header h1 {
    width: 100%;
    text-align: center;
}

header input {
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 60%;
    font-size: 18px;
}

header span {
    padding-left: 10px;
    font-size: 35px;
    cursor: pointer;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    cursor: pointer;
    padding: 10px 0;
    list-style-type: none;
    font-size: 18px;
    display: flex;
    align-items: center;
}

ul li:nth-child(odd) {background-color: beige;}
ul li:hover{background-color: rgb(224, 160, 22);}
ul li span{width: 80%;}
ul li i{width: 10%; text-align: center;}
.close{color: #f03333;}


header .logo {
    position: absolute;
    top: 40px; /* Ajuste a distância do topo conforme necessário */
    left: 25px; /* Ajuste a distância da direita conforme necessário */
    width: 100px; /* Ajuste o tamanho conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 50%; /* Torna a imagem completamente circular */
    border: 2px solid #f0860e; /* Opcional: Adiciona uma borda */
}