@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/* Estilo Global */
body {
    margin: 0;
    font-family: "Oswald", sans-serif;
    background-color: #f4f4f4; /* Cor de fundo para a página */
}

/* Cabeçalho */
header {
    background-color: #ec7b1f;
    color: #1d0505;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
}

header .header-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

header h1 {
    margin: 10px 0;
}

/* Estilo para o input e o botão */
.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

header input {
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 60%;
    font-size: 18px;
    box-sizing: border-box;
    cursor: pointer;
}

header button {
    background-color: #683a06;
    border: none;
    padding: 10px;
    margin-left: 10px;
    border-radius: 10px;
    cursor: pointer;
}

header button i {
    color: #34cc0d;
    font-size: 24px;
}

/* Logo */
header .logo {
    position: absolute;
    top: 25px;
    left: 25px;
    width: 100px;
    height: auto;
    border-radius: 50%;
    border: 2px solid #f0860e;
}

/* Lista de Tarefas */
ul {
    margin: 20px;
    padding: 0;
    list-style: none;
}

ul li {
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    display: flex;
    align-items: center;
    background-color: #fff;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    justify-content: center; /* Centraliza o conteúdo dentro do li */
    align-items: center; /* Alinha o conteúdo verticalmente */
}

ul li span {
    flex: 1;
    padding-left: 10px;
}

/* Responsividade */
@media (max-width: 768px) {
    header input {
        width: 80%;
    }

    header button {
        padding: 8px;
    }

    header h1 {
        font-size: 22px;
    }
}

li.concluida span {
    text-decoration: line-through;
    color: #349223;
}

li.concluida .check {
    color: #349223;
}

.close {
    color: #ff0000; 
    cursor: pointer;
    font-size: 20px;
}


.close:hover {
    color: #d10000; 
}